@media all and (max-width: 1200px) {
    .userDataCount {
        display: flex;
        flex-direction: column;
        width: calc((100% - 60px)/4);
        height: 134px;
    }

    .userDataCount>div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
    }

    .userDataCount>div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }

    .left-dash {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    .userDataCount {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 258px;
        min-width: 215px;
        height: 15%;
        max-height: 106px;
    }

    .userDataCount>div:first-child {
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }


    .userDataCount>div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
    }

    .left-dash {
        width: calc(100% - 258px);
    }
}

.userDataCount {
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
}

.userDataCount>div:first-child>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.userDataCount img {
    width: 20px;
}

.userDataCount>div:last-child>div:first-child {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #282d30;
}

.userDataCount>div:last-child>div:last-child {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #74798c;
}